{% block body%}
 <nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"> <img src="{{asset('assets/img/logo.png')}}" style="width: 150px;" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
     
      <ul class="navbar-nav">
       
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="/photographie">Photographie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/videographie">Videographie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/illustration">Illustrations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/personnalisation">Personnalisation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item " style="margin-left:50%">
          <a class="nav-link "  data-toggle="tooltip" title="Panier"  data-placement="top" href="/panier">  <i class="fas fa-shopping-bag"></i></a>
        </li>
                <li class="nav-item " style="margin-left:2%">
          <a class="nav-link " data-toggle="tooltip" title="Pascale Bandama"  data-placement="top" href="#"><i class="fas fa-user"></i></a>
        </li>

        
        <div class="dropdown " style="margin-left:7%">
    <button type="button" class="btn btn-primary dropdown-toggle " data-toggle="dropdown">
      Publier
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{{path('article_new')}}">Image</a>
      <a class="dropdown-item" href="/videographie/new">Vidéo</a>
      <a class="dropdown-item" href="/illustration/new">Illustration</a>
      <a class="dropdown-item" href="/voixOff/new">VoixOff</a>
    </div>
  </div>

       
      </ul>
    </div>
  </div>
</nav>
{% endblock body%}