{% extends 'base.html.twig' %}

{% block body%}


<style> 
.jumbotron{
           text-align:center;
           
}

</style>


<div id="entete">
     
<div class="jumbotron">
  
  <h1 class="display-3"> 
Nos meilleurs Illustrations</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>


</div>
 <br>
</div>

<section id='illustration'>

<style>
  #bloc1{
  height: 100%;
  
  width: 100%;
  padding: 40px;
  

}
.card{
  width:400px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color:#fffdfd !important;
}
.card-body{
  text-align: center;
}
.button{
  background-color: brown;
  border-radius: 40%;
  border: none;
  margin-left: 100px;
  width: 15%;
  height: 10%;
}
.card-img-top{
  height: 300px;
  width: 310px;
  padding-top: 40px;
  margin-left: 45px;
}

h3{
  font-weight: 500px;
  color: black !important;
}
a.btn{
 background-color: #E32F2F;
  border: none;
  font-weight: 600;
}
</style>

     <div class="row" id="bloc1">

  
  <div class="col-md-4">
    <div class="card" >
  <img class="card-img-top" src="https://global-uploads.webflow.com/5bcb5ee81fb2091a2ec550c7/5e81d3125836db0451c3427e_pack-grid-thumbnail.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">John Doe</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="btn btn">See Profile</a>
  </div>
</div>
  </div>



  <div class="col-md-4">
    <div class="card" >
  <img class="card-img-top" src="https://global-uploads.webflow.com/5bcb5ee81fb2091a2ec550c7/5e81d3125836db0451c3427e_pack-grid-thumbnail.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">John Doe</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="btn btn">See Profile</a>
  </div>
</div>
</div>
 <div class="col-md-4">
    <div class="card" >
  <img class="card-img-top" src="https://assets-global.website-files.com/5bcb5ee81fb2091a2ec550c7/5e81d553d75a9b0467fe0f94_covid19-illustration-example-1.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">John Doe</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="btn btn">See Profile</a>
  </div>
</div>
</div>

</div>


<section id='illustration'>

<style>
  #bloc1{
  height: 100%;
  
  width: 100%;
  padding: 40px;
  

}
.card{
  width:400px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color:#fffdfd !important;
}
.card-body{
  text-align: center;
}
.button{
  background-color: brown;
  border-radius: 40%;
  border: none;
  margin-left: 100px;
  width: 15%;
  height: 10%;
}
.card-img-top{
  height: 300px;
  width: 310px;
  padding-top: 40px;
  margin-left: 45px;
}

h3{
  font-weight: 500px;
  color: black !important;
}
a.btn{
 background-color: #E32F2F;
  border: none;
  font-weight: 600;
}
</style>

     <div class="row" id="bloc1">

  
  <div class="col-md-4">
    <div class="card" >
  <img class="card-img-top" src="https://global-uploads.webflow.com/5bcb5ee81fb2091a2ec550c7/5e81d3125836db0451c3427e_pack-grid-thumbnail.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">John Doe</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="btn btn">See Profile</a>
  </div>
</div>
  </div>



  <div class="col-md-4">
    <div class="card" >
  <img class="card-img-top" src="https://global-uploads.webflow.com/5bcb5ee81fb2091a2ec550c7/5e81d3125836db0451c3427e_pack-grid-thumbnail.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">John Doe</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="btn btn">See Profile</a>
  </div>
</div>
</div>
 <div class="col-md-4">
    <div class="card" >
  <img class="card-img-top" src="https://assets-global.website-files.com/5bcb5ee81fb2091a2ec550c7/5e81d553d75a9b0467fe0f94_covid19-illustration-example-1.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">John Doe</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="btn btn">See Profile</a>
  </div>
</div>
</div>

</div>


<section id='illustration'>

<style>
  #bloc1{
  height: 100%;
  
  width: 100%;
  padding: 40px;
  

}
.card{
  width:400px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color:#fffdfd !important;
}
.card-body{
  text-align: center;
}
.button{
  background-color: brown;
  border-radius: 40%;
  border: none;
  margin-left: 100px;
  width: 15%;
  height: 10%;
}
.card-img-top{
  height: 300px;
  width: 310px;
  padding-top: 40px;
  margin-left: 45px;
}

h3{
  font-weight: 500px;
  color: black !important;
}
a.btn{
 background-color: #E32F2F;
  border: none;
  font-weight: 600;
}
</style>

     <div class="row" id="bloc1">

  
  <div class="col-md-4">
    <div class="card" >
  <img class="card-img-top" src="https://global-uploads.webflow.com/5bcb5ee81fb2091a2ec550c7/5e81d3125836db0451c3427e_pack-grid-thumbnail.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">John Doe</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="btn btn">See Profile</a>
  </div>
</div>
  </div>



  <div class="col-md-4">
    <div class="card" >
  <img class="card-img-top" src="https://global-uploads.webflow.com/5bcb5ee81fb2091a2ec550c7/5e81d3125836db0451c3427e_pack-grid-thumbnail.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">John Doe</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="btn btn">See Profile</a>
  </div>
</div>
</div>
 <div class="col-md-4">
    <div class="card" >
  <img class="card-img-top" src="https://assets-global.website-files.com/5bcb5ee81fb2091a2ec550c7/5e81d553d75a9b0467fe0f94_covid19-illustration-example-1.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">John Doe</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="btn btn">See Profile</a>
  </div>
</div>
</div>

</div>
<section/>

{% endblock body%}