
{% extends 'base.html.twig' %}

{% block body%}

<style> 
.jumbotron{
           text-align:center;
           
}

</style>


<div id="entete">
     
<div class="jumbotron">
  
  <h1 class="display-3"> 
Nos meilleurs Images</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>


</div>
 <br>
</div>

<section class="Photographie">

<style>
#bloc1{
  height: 100%;
 
  width: 100%;
  padding: 40px;
  

}
.card{
  width:400px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color:#fffdfd !important;;
}
.card-body{
  text-align: center;
}
.button{
  background-color: brown;
  border-radius: 40%;
  border: none;
  margin-left: 100px;
  width: 15%;
  height: 10%;
}
.card-img-top{
  height: 300px;
  width: 310px;
  padding-top: 40px;
  margin-left: 45px;
}

h3{
  font-weight: 500px;
  color: black !important;
}
a.btn{
 background-color: #E32F2F;
  border: none;
  font-weight: 600;
}
</style>


        <div class="row" id="bloc1">

{% for Article in Articles %}
      {% for Image in Images %}          
          <div class="col-md-4">
              <div class="card" >
          <img class="card-img-top"   src="#"alt="Card image">
          
          <div class="card-body">
            <h4 class="card-title">{{Article.Title}}</h4>
            <p class="card-text">{{Article.Description}}</p>
            <p class="card-text">{{Article.Prix}} CFA</p>
          <a href="{{path('photo_show', {'id':Article.id})}}" class="btn btn">Acheter  <i class="fas fa-shopping-cart"></i></a>
          </div>
          </div>
          
        </div>
    {% endfor %}
{% endfor %}


        </div>



</section>



{% endblock body %}
