{% extends 'base.html.twig' %}

{% block body%}


<style> 
.jumbotron{
           text-align:center;
           
}


</style>



<div id="entete">
     
<div class="jumbotron">
  
  <h1 class="display-3"> 
Photo/article 1 / details </h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>


</div>
 <br>
</div>
<br>


<div class=" container  ">
    <div class="row">
        <div class="col-md-7">
    
            <div class="Card" >
                <img class="card-img-top" src="{{asset('assets/img/1H1A5425.jpg')}}" alt="Card image">
                <div class="row icon-etoile">

                  <svg aria-hidden="true" style="width:48px;color:goldenrod; " focusable="false" data-prefix="fas" data-icon="star" class="svg-inline--fa fa-star fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>
                  <svg aria-hidden="true" style="width:48px;color:goldenrod; " focusable="false" data-prefix="fas" data-icon="star" class="svg-inline--fa fa-star fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>
                  <svg aria-hidden="true" style="width:48px;color:goldenrod; " focusable="false" data-prefix="fas" data-icon="star" class="svg-inline--fa fa-star fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>
                  <svg aria-hidden="true" style="width:48px;color:goldenrod; " focusable="false" data-prefix="far" data-icon="star" class="svg-inline--fa fa-star fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z"></path></svg>
                  <svg aria-hidden="true" style="width:48px;color:goldenrod; " focusable="false" data-prefix="far" data-icon="star" class="svg-inline--fa fa-star fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z"></path></svg>
                </div>
                <div class="card-body photo_description">
                  <h4 class="card-title">Caracteristiques</h4>
                  <p class="card-text">Some example text.</p>
                 
                  
                </div>
                </div>
        </div>
        <div class="col-md-5 grand">
            <div class="">
                <h5> PASCALE/ AFRICA WOMAN</h5>
                <hr>
                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-4">
                    <button type="submit" class="btn like">Like  </button>
                  </div>
                  <div class="col-md-6">
                    <button type="submit" class="btn btn like">suivre </button>
                  </div>
                </div>
              
                <hr>
            </div>
              <button type="submit" class="btn telecharger">TELECHARGER</button>
            <div class="card dimension">
                <div class="form-check">
                    <div class="row">
                      <div class="col-md-1">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                      </div>
                      <div class="col-md-6">
                        <label class="form-check-label" for="exampleRadios1">
                          640 X 640  jpg
                        </label>
                      </div>
                      <div class="col-md-3">
                        25 KB
                      </div>
                    </div>
                    
                  
                  </div>
                  <div class="form-check">
                    <div class="row">
                      <div class="col-md-1">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" >
                      </div>
                      <div class="col-md-6">
                        <label class="form-check-label" for="exampleRadios2">
                          1280 X 1280  jpg
                        </label>
                      </div>
                      <div class="col-md-3">
                        25 KB
                      </div>
                    </div>
                  </div>
                  <div class="form-check">
                    <div class="row">
                      <div class="col-md-1">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3"> 
                      </div>
                      <div class="col-md-6">
                        <label class="form-check-label" for="exampleRadios3">
                          2400 X 2400  jpg
                        </label>
                      </div>
                      <div class="col-md-3">
                        25 KB
                      </div>
                    </div>
                  </div>
                  
            </div>
            <hr>
            <a class=" btn boutton2" href="/personnalisation" role="button" aria-disabled="true">Personnaliser</a>  
            <div class="card-caracteristique">
              <div class="row">
                <div class="col-md-6">Image Type</div>
                <div class="col-md-4"> JPG</div>
              </div>
              <div class="row">
                <div class="col-md-6">Resolution</div>
                <div class="col-md-4"> 3460 X 3460</div>
              </div>
              <div class="row">
                <div class="col-md-6">Publié</div>
                <div class="col-md-6"> 26 mars 2021</div>
              </div>
            </div>

            <hr>
            <div class="card-paiement">
              <h4>Mode de paiement</h4>
              <div class="form-check">
                <div class="row">
                  <div class="col-md-4">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                  </div>
                  <div class="col-md-6">
                    <label class="form-check-label" for="exampleRadios1">
                      Orang Money
                    </label>
                  </div>
                 
                </div>
                
              
              </div>
              <div class="form-check">
                <div class="row">
                  <div class="col-md-4">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                  </div>
                  <div class="col-md-6">
                    <label class="form-check-label" for="exampleRadios1">
                      Orang Money
                    </label>
                  </div>
                 
                </div>

              </div>
              <div class="form-check">
                <div class="row">
                  <div class="col-md-4">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                  </div>
                  <div class="col-md-6">
                    <label class="form-check-label" for="exampleRadios1">
                      Orang Money
                    </label>
                  </div>
                 
                </div>
                
              
              </div>
              </div>
              <br>
            </div>
           

        </div>
    
</div>
</div>
<br><br>



{% endblock body %}
